<app-navbar></app-navbar>
<main class="container mt-3">
  <h1 class="text-center">Productos</h1>
  <a routerLink="/productoForm" class="btn btn-primary my-3">Agregar Producto</a>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productos">
        <td>{{producto.codigo}}</td>
        <td>{{producto.nombre}}</td>
        <td>{{producto.cantidad}}</td>
        <td>{{producto.precio}}</td>
        <td>
          <a routerLink="/productoForm/{{producto.id}}" class="btn btn-warning">Editar</a>
          <button (click)="Delete(producto.id)" class="btn btn-danger ms-sm-1 mt-1 mt-sm-0">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</main>
